<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use tracking to improve the app experience and provide personalized content.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save vehicle photos.</string>
</dict>
</plist>
